# NAIVE BAYES CLASSIFIER MODEL

In [55]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

In [56]:
import warnings
warnings.filterwarnings('ignore')

In [57]:
df= pd.read_csv('/Users/anjali98/lc.csv') 
df.head()
df.describe()

              Age      Smokes     Alcohol      Result
count  107.000000  107.000000  107.000000  107.000000
mean    43.635514   16.046729    3.280374    0.485981
std     15.229931    6.724193    2.188281    0.502155
min     18.000000    0.000000    0.000000    0.000000
25%     32.000000   12.000000    2.000000    0.000000
50%     42.000000   20.000000    3.000000    0.000000
75%     56.000000   20.000000    4.500000    1.000000
max     77.000000   34.000000    8.000000    1.000000

In [58]:
y= df['Result']
X= df.drop(['Result'], axis=1)

In [59]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state =42)

In [60]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [61]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [62]:
y_pred  =  classifier.predict(X_test)

In [63]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[22  1]
 [ 1 19]]

## FINAL ACCURACY SCORE

In [64]:
ac = accuracy_score(y_test,y_pred)
print('Accuarcy score : ', ac)

Accuarcy score :  0.9534883720930233